.navbar{
    background-color: rgb(137, 67, 11);
}

.introPoi{
    position: absolute;
    top:80%;
    left: 46%;
    
}

.hov:hover{
    transform: scale(1.01);
}

@font-face {
    font-family: Giveny;
    src: url('./fonts/Giveny/Giveny.ttf');
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

img {
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-delay: 0s;
}